<div class="main">
  <div class="container">
    <div class="aboutsec">
      <h3>Bar Orel</h3>
      <p>a Full-Stack Developer with passion ,<br> motivation and constant self-development<br> in a variety of technologies and tools.</p>
    </div>
    <div class="social">
       <h3>Social</h3>
        <div class="Links">
          <a href="https://www.linkedin.com/in/barorel/" target="_blank" ><img src="https://d33wubrfki0l68.cloudfront.net/7f29579dde49e02480372aa49f7189c5536b0118/34b92/assets/png/linkedin-ico.png"/></a>
          <a href="https://github.com/BarOrel" target="_blank"><img src="https://d33wubrfki0l68.cloudfront.net/5557d5a11584d7201a38ee1a95200f57a4cc0f88/15085/assets/png/github-ico.png"/></a>
            
        </div>
    </div>
  </div>
  <div class="line"></div>
  <p class="Copyright">© Copyright 2023 . Made by Bar Orel</p>
</div>  