<h1>Laptop</h1>
          <h4>MilliampHours</h4>
          <input type="text" placeholder="Name CPU" />
          <h4>Resolution</h4>
          <select>
            <option value="">1920x1080</option>
            <option value="">2560x1080</option>
            <option value="">2560x1440</option>
            <option value="">3440x1400</option>
            <option value="">4K</option>
            <option value="">8K</option>
          </select>
          <br />
          <br />
          <h4>Panel</h4>
          <select>
            <option value="">TN</option>
            <option value="">IPS</option>
            <option value="">QLED</option>
            <option value="">OLED</option>
            <option value="">VN</option>
            <option value="">LCD</option>
          </select>