.Menu{
    width: 240px;
    margin: 7px 0px 0px 56px;
    height: 500px;
    background-color: #fff;
    border:1px solid rgb(204, 204, 204) ;
    box-shadow: 10px 5px 15px rgb(213, 223, 255);
    border-radius: 10px;
    
}
.Menu > a{
    display: flex;
    padding: 10px 6px 14px 34px;
    display:inline-block; 
    margin:0;
    width: 200px;
    
    font-size: 20px;
    cursor: pointer;
    
    border-bottom: 1px solid rgb(180, 180, 180);

    

}

a, a:hover {
    color: #000;
    text-decoration: none;
  }
  
 
  a:last-child {
    margin-right: 0;
  }
  
  a:after {
    content: '';
    display: block;
    position: fixed;
    margin: 12px 0px 0px -35px;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  a:hover:after {
    width: 242px;
    margin: 12px 0px 0px -35px;
    background: blue;
  }


.Menu > a > span{
   margin: 4px 0px 0px 0px;
}