<div *ngIf="showMen" class="Menu">  
    <a (click)="NavigateTo(1)">Mobile Devices<span class="material-symbols-outlined">chevron_right</span></a>
    <a (click)="NavigateTo(2)">Computers<span class="material-symbols-outlined">chevron_right</span></a>
    <a (click)="NavigateTo(3)">Gaming Consoles<span class="material-symbols-outlined">chevron_right</span></a>
    <a (click)="NavigateTo(4)">Electronics<span class="material-symbols-outlined">chevron_right</span></a>
    <a (click)="NavigateTo(5)">Accessories<span class="material-symbols-outlined">chevron_right</span></a>
    
    
</div>




