.Menu{
    width: 240px;
    z-index: 200;
    margin: 90px 0px 0px 213px;
    background-color: #fff;
    border:1px solid rgb(204, 204, 204) ;
    box-shadow: 2px 5px 15px rgb(213, 223, 255);
    border-radius: 10px;
    position: fixed;
    
}
 a{
    display: flex;
    padding: 10px 6px 14px 34px;
    display:inline-block; 
    margin:0;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    
    border-bottom: 1px solid rgb(180, 180, 180);

}

a, a:hover {
    color: #000;
    text-decoration: none;
  }
  
 
  a:last-child {
    margin-right: 0;
  }
  
  a:after {
    content: '';
    display: block;
    position: fixed;
    margin: 12px 0px 0px -35px;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  a:hover:after {
    width: 242px;
    margin: 12px 0px 0px -35px;
    background: blue;
  }


.Menu > a > span{
   margin: 4px 0px 0px 0px;
}

.MobilesMenu{
  box-shadow: 2px 5px 15px rgb(213, 223, 255);
  position: fixed;
  left: 468px;
  top: 92px;
  background-color: #fff;
  border:1px solid rgb(204, 204, 204) ;
  border-radius: 10px;
  width: 240px;
  z-index: 100;


}
.ComputersMenu{
  box-shadow: 2px 5px 15px rgb(213, 223, 255);
  position: fixed;
  left: 468px;
  top: 207px;
  background-color: #fff;
  border:1px solid rgb(204, 204, 204) ;
  border-radius: 10px;
  width: 240px;

  z-index: 7;
}
.GamingConsolesMenu{
  box-shadow: 2px 5px 15px rgb(213, 223, 255);
  position: fixed;
  left: 468px;
  top: 264px;
  background-color: #fff;
  border:1px solid rgb(204, 204, 204) ;
  border-radius: 10px;
  width: 240px;

  z-index: 7;
}
.ElectronicsMenu{
  box-shadow: 2px 5px 15px rgb(213, 223, 255);
  position: fixed;
  left: 468px;
  top: 150px;
  background-color: #fff;
  border:1px solid rgb(204, 204, 204) ;
  border-radius: 10px;
  width: 240px;

  z-index: 7;
}
.Accecsories{
  box-shadow: 2px 5px 15px rgb(213, 223, 255);
  position: fixed;
  left: 468px;
  top: 320px;
  background-color: #fff;
  border:1px solid rgb(204, 204, 204) ;
  border-radius: 10px;
  width: 240px;
 
  z-index: 100;
}

@media(max-width:700px){
  .Menu{
    margin: 90px 0px 0px 20px;
  }


  .MobilesMenu{
    left: 20px;
    top: 452px;
  }
  .Accecsories{
    left: 20px;
    top: 452px;
  }
  .ElectronicsMenu{
    left: 20px;
    top: 452px;
  }
  .GamingConsolesMenu{
    left: 20px;
    top: 452px;
  }
  .ComputersMenu{
    left: 20px;
    top: 452px;
  }
 

}