<h1>Tablet</h1>
  <div >
    <div>
      <h4>Resolution</h4>
      <select name="resolutaionSelect" #resolution class="row" (change)="selectedResolutaion(resolution.value)">
          <option value="0" selected disabled >Choose Resolution</option>
          <option value="7">1920x1080</option>
          <option value="8">2560x1440</option>
          <option value="9">4K</option>
      </select>
      <br>
      <br>
      <h4>Miliamper</h4>
      <input type="text" placeholder="Miliamper" #MilliamperHours (change)="MilliamperHoursNum(MilliamperHours.value)"/>

      
      <br>
      <h4>Inch</h4>
      <input type="text" placeholder="Size in Inches" #Inch (change)="InchNum(Inch.value)"/>
    </div>

    
    <div>
      <h4>Storage</h4>
      <select class="row"  #Storage (change)="SelectedStorage(Storage.value)"  >
        <option value="3">16 gb</option>
        <option value="4">32 gb</option>
        <option value="5">64 gb</option>
        <option value="6">128 gb</option>
        <option value="7">256 gb</option>
        <option value="8">512 gb</option>
        <option value="9">1 tb</option>
        <option value="10">2 tb</option>
      </select>
    </div>
<br>
<br>
    <div>
      <h4>Operation System</h4>
      <select class="row">
        <option value="7">Android</option>
        <option value="5">IOS</option>
        <option value="2">Windows 10</option>
        <option value="3">Windows 11</option>
      </select>
    </div>


</div>