/* You can add global styles to this file, and also import other style files */
html, body { height: 100vh; width: 100%; margin: 0; 
    background-color: #fff;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    
    }
    

    .line{
        height: 1px;
        width: 80%;
        border-radius: 10px;
        background-color: rgba(212, 212, 212, 0.821);
        top:0;
        bottom: 0;
        left: 0;
        right: 0;  
       
    }
    



    .d-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    
    .align-center {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    
    .flex-centerY-centerX {
      justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    
    body {
      background-color: #f7f7f7;
    }
    
    .page-wrapper {
      height: 100%;
      display: table;
    }
    
    .page-wrapper .page-inner {
      display: table-cell;
      vertical-align: middle;
    }
    
    .el-wrapper {
      border: 1px solid gainsboro;
      width: 260px;
      padding: 15px;
      margin: 15px auto;
      background-color: #fff;
    }
    
    @media (max-width: 991px) {
      .el-wrapper {
        width: 345px;
      }
    }
    
    @media (max-width: 767px) {
      .el-wrapper {
        width: 290px;
        margin: 30px auto;
      }
    }
    
    .el-wrapper:hover .h-bg {
      left: 0px;
    }
    
    .el-wrapper:hover .price {
      left: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #818181;
    }
    
    .el-wrapper:hover .add-to-cart {
      left: 50%;
      
    }
    
    .el-wrapper:hover .img {
      webkit-filter: blur(7px);
      -o-filter: blur(7px);
      -ms-filter: blur(7px);
      filter: blur(7px);
      filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
      opacity: 0.4;
    }
    
    .el-wrapper:hover .info-inner {
      bottom: 155px;
    }
    
    .el-wrapper:hover .a-size {
      -webkit-transition-delay: 300ms;
      -o-transition-delay: 300ms;
      transition-delay: 300ms;
      bottom: 50px;
      opacity: 1;
    }
    .el-wrapper .box-down :hover {cursor: pointer;}
    .el-wrapper .box-up :hover {cursor: pointer;}


    .el-wrapper .box-down {
      width: 100%;
      height: 60px;
      position: relative;
      overflow: hidden;
    }
    
    .el-wrapper .box-up {
      
      width: 100%;
      height: 200px;
      position: relative;
      overflow: hidden;
      text-align: center;
    }
    
    .el-wrapper .img {
      padding: 20px 0;
      max-height: 170px;
      -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
      -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
      -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
      transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
      -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
    }
    
    .h-bg {
      -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
      -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
      -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
      transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
      -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
      width: 660px;
      height: 100%;
      background-color: #3f96cd;
      position: absolute;
      left: -659px;
    }
    
    .h-bg .h-bg-inner {
      width: 50%;
      height: 100%;
      background-color: #464646;
    }
    
    .info-inner {
      -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
      -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
      -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
      transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
      -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
      position: absolute;
      width: 100%;
      bottom: 25px;
    }
    
    .info-inner .p-name,
    .info-inner .p-company {
      display: block;
    }
    
    .info-inner .p-name {
      font-family: 'PT Sans', sans-serif;
      font-size: 23px;
      text-align: left;
      width: auto;
      color: #fff;
      background-color: #333;
      clear:both;
      float:left;
    }
    
    .info-inner .p-company {
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      
      
      color: #8c8c8c;
    }
    
    .a-size {
      -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
      -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
      -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
      transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
      -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
      position: absolute;
      width: 100%;
      bottom: -20px;
      font-family: 'PT Sans', sans-serif;
      color: #828282;
      opacity: 0;
    }
    
    .a-size .size {
      color: #252525;
    }
    
    .cart {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }
    
    .cart .price {
      -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
      -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
      -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
      transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
      -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
      -webkit-transition-delay: 100ms;
      -o-transition-delay: 100ms;
      transition-delay: 100ms;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 16px;
      color: #252525;
    }
    
    .cart .add-to-cart {
      -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
      -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
      -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
      transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
      -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
      /* ease-out */
      -webkit-transition-delay: 100ms;
      -o-transition-delay: 100ms;
      transition-delay: 100ms;
      display: block;
      position: absolute;
      top: 50%;
      left: 110%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    
    .cart .add-to-cart .txt {
      font-size: 12px;
      color: #fff;
      letter-spacing: 0.045em;
      text-transform: uppercase;
      white-space: nowrap;
    }

     

      
  /* .container .card{
    position: relative;
    width: 320px;
    height: 320px;
    background: #18181b;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff5d;
    clip-path: circle(80px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container .card:hover:before{
    clip-path: circle(250px at 80% -20%);
  
  }
  
  .container .card:after{
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    color: rgba(255,255,25,0.05)
  }
  
  .container .card .imgBx{
    position: absolute;
    top: 33%;
    transform: translateY(-50%);
    z-index: 3000;
    width: 100%;
    
    transition: 0.6s;
  }



  .container .card:hover .imgBx{
    top: 43%;
    transform: translateY(0%);
      
  }
  
  .container .card .imgBx img{
    position: absolute;
    
    top: 2vh;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-0deg);
    
    max-height: 160px;
  }
  
  .container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
   
  }
  
  .container .card:hover .contentBx{
    height: 308px;
   
  }
  h2 :hover {
    cursor:  pointer;
  }
  .imgBx :hover {
    cursor:  pointer;
  }
  .container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
    
    
  }
  
  .container .card .contentBx .size, .container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .container .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  
  .container .card .contentBx .size h3, .container .card .contentBx .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container .card .contentBx .size span:hover{
    background: #9bdc28;
  }
  
  .container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .container .card .contentBx .color span:nth-child(2){
    background: #9bdc28;
  }
  
  .container .card .contentBx .color span:nth-child(3){
    background: #03a9f4;
  }
  
  .container .card .contentBx .color span:nth-child(4){
    background: #e91e63;
  }
  
  .container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    color: #111;
    opacity: 0;
    z-index: 1;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 90px;
  }
  
  .container .card:hover .contentBx a{
    opacity: 1;
    
    transform: translateY(100px);
    transition-delay: 0.50s;
    
  } */