.main {
     display: flex;
     overflow: hidden;
     width: 100%;
     display: flex;
     justify-content: center;
     min-height: calc(100vh - 80px);
     position: absolute;
     margin: 80px 0px 0px 0px;
     background-color: #ffff;
     font-family: 'Source Sans Pro',sans-serif;
}

.container {


     width: 80vw;


}

.line {
     width: 100%;
     display: flex;
     justify-content: center;
}

.slider-discounts {
     padding-top: 6vh;
     width: 100%;
     display: flex;
     justify-content: center;
     padding-bottom: 6vh;


}

.card {
     margin-left: 15px;

}

.pal {
     display: flex;
}

.Products {}

img {
     object-fit: cover;
     padding-right: 30px;
     max-width: 50vw;

}

.space {
     padding-top: 10px;
}

h2 {
     font-size: 30px;

     font-family: 'Source Sans Pro', sans-serif;
     text-transform: uppercase;
     font-weight: 800;
     color: #111;
     text-align: center;
}


.Lineofproducts {
     overflow-x: auto;
     display: flex;

}

.footer {
     position: relative;
}

.head {
     font-size: 30px;

     font-family: 'Source Sans Pro', sans-serif;
     text-transform: uppercase;
     font-weight: 800;
     text-decoration: none;
     color: #111;
     text-align: center;
     transition: 0.5s;
}

.head:hover {

     color: rgb(0, 49, 185);

}

swiper {
     height: 400px;
     width: 600px;
   }

   @media (max-width:1200px){
     .slider-discounts{
          display: block;
     }
     .pal{
          
          justify-content: space-between;
     }

     img { 
         
          max-width: 80vw;
          
     }
     
   }
   @media (max-width:750px){
   .pal{
     display: block;
   }
   .space{padding-top: 0px;}
   
   }
