<h1>Gaming Console</h1>
          <h4>Console Type</h4>
          <select>
            <option value="" selected disabled>Choose Console</option>
            <option value="1">Play Station 4</option>
            <option value="2">Play Station 5</option>
            <option value="3">Xbox Series S</option>
            <option value="4">Xbox Series X</option>
            <option value="5">Xbox Series One</option>
            <option value="6">Switch Lite</option>
            <option value="7">Switch Pro</option>
          </select>
          <br />
          <br />
          <h4>Storage</h4>
          <select>
            <option value="" selected disabled>Choose Storage</option>
            <option value="1">4 gb</option>
            <option value="2">8 gb</option>
            <option value="3">16 gb</option>
            <option value="4">32 gb</option>
            <option value="5">64 gb</option>
            <option value="6">128 gb</option>
            <option value="7">256 gb</option>
            <option value="8">512 gb</option>
            <option value="9">1 tb</option>
            <option value="10">2 tb</option>
            <option value="11">4 tb</option>
            <option value="12">6 tb</option>
            <option value="13">8 tb</option>
          </select>