<div class="container">
  <div>
    <div class="row">
      <h4>Add a Product</h4>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Name" name="Name" #Name />
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Description" name="Description" #Description />
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Image Url" name="imgUrl" #ImgUrl />
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="number" placeholder="Price" name="Price" #Price />
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>

      <div class="row">
        <div class="col-half">
          <h4>Color</h4>
          <select name="Color" #Color>
            <option value="0">Black</option>
            <option value="1">White</option>
            <option value="2">Gray</option>
            <option value="3">Red</option>
            <option value="4">Blue</option>
          </select>
        </div>
        <div class="col-half">
          <h4>Manufacturer</h4>
          <select name="Manufacturer" #Manufacturer>
            <option value="0">Other</option>
            <option value="1">Apple</option>
            <option value="2">Samsung</option>
            <option value="3">OnePlus</option>
            <option value="4">Xiaomi</option>
            <option value="5">Sony</option>
            <option value="6">Microsoft</option>
            <option value="7">Lenovo</option>
            <option value="8">HP</option>
            <option value="9">Dell</option>
            <option value="10">Beats</option>
            <option value="11">Jbl</option>
            <option value="12">BnO</option>
            <option value="13">Logitech</option>
            <option value="14">Jabra</option>
            <option value="15">Asus</option>
            <option value="16">Razer</option>
            <option value="17">Intel</option>
            <option value="18">AMD</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row">
        <h4>Release Date</h4>
        <div class="input-group">

          <input type="date" #Date>

        </div>
      </div>
    </div>
    <div class="row">
      <h4>Category</h4>
      <div class="input-group" style="width: 200%">
        <select #Category (change)="SelectedIndex(Category.value)" name="Category">
          <option value="99" disabled selected>Choose Category</option>
          <option value="0">None</option>
          <option value="2">Mobile Phone</option>
          <option value="3">Desktop PC</option>
          <option value="4">Laptop</option>
          <option value="5">Gaming Console</option>
        </select>
      </div>
    </div>
    <div class="input-group">


      <app-add-mobile-phone *ngIf="index == 1" (Storage)="StorageFunc($event)" (InchSize)="InchFunc($event)"
        (Miliamper)="MiliamperFunc($event)" (OperationSystem)="OperationSystemFunc($event)"
        (Resolution)="ResolutionFunc($event)"></app-add-mobile-phone>
      <app-Add-DesktopPC (Storage)="StorageFunc($event)" 
      (GPU)="GPUFunc($event)" (CPU)="CPUFunc($event)"
        (CPUType)="CpuTypeFunc($event)" (GPUType)="GpuTypeFunc($event)" 
        *ngIf="index == 2"></app-Add-DesktopPC>

      <app-Add-Laptop *ngIf="index == 3" (Storage)="StorageFunc($event)" 
      (GPU)="GPUFunc($event)" (CPU)="CPUFunc($event)"
        (CPUType)="CpuTypeFunc($event)" (GPUType)="GpuTypeFunc($event)" (Resolution)="ResolutionFunc($event)"
        (InchSize)="InchFunc($event)" (Panel)="PanelFunc($event)" style="margin: 350px"></app-Add-Laptop>
      <app-Add-GamingConsole *ngIf="index == 4" style="margin: 350px"></app-Add-GamingConsole>


    </div>
    <div>
      <button class="addBtn"
        (click)="AddProduct(Name.value,Description.value,Price.value,Color.value,Manufacturer.value,Category.value,ImgUrl.value,Date.valueAsDate)">Add
        New Product</button>
    </div>
  </div>
</div>