<div class="navbar">
    <div class="Mainbuttons">     
        <a (click)="ClickShowMenu()"  class="productsbutton"><span class="material-symbols-outlined"> menu
            </span>Product</a>
        <a class="productsbutton" routerLink="">Home</a>
        <a class="productsbutton" routerLink="s">Page</a>
        <a class="productsbutton" routerLink="/register">Register</a>
        <a class="productsbutton" routerLink="/login">Login</a>
        <a class="rightbutton" routerLink="/login"><span class="material-symbols-outlined">shopping_cart</span></a>
        <a class="rightbutton" routerLink="/login"><span class="material-symbols-outlined">person</span></a>
    </div>
    
   
</div>