<div class="container">
  <h1>Filter</h1>
  <div class="Filter">
    <div class="title">
      Filter By Manufacturer
      <p><input type="checkbox" /> Intel</p>
      <p><input type="checkbox" /> Apple</p>
      <p><input type="checkbox" /> Microsoft</p>
      <p><input type="checkbox" /> Gigaybyte</p>
    </div>
  </div>

  <div class="Filter">
    <div>Filter By Procesor</div>
    <p><input type="checkbox" /> i3</p>
    <p><input type="checkbox" /> i5</p>
    <p><input type="checkbox" /> i7</p>
    <p><input type="checkbox" /> i9</p>
  </div>

  <div class="Filter">
    <div>Filter By Graphic Card</div>
    <p><input type="checkbox" /> GTX 1080</p>
    <p><input type="checkbox" /> RTX 2080</p>
    <p><input type="checkbox" /> RTX 3080</p>
    <p><input type="checkbox" /> RTX 4080</p>
  </div>
</div>
