
<div class="Main">
  <div class="product">
      <div class="Width">
      <img src="{{Data.imgUrl}}"/>
      <div class="specs">
        <h2>Item Specifics :</h2>

        <div>
          <div class="specrow"> 
            <p class="leftside">Manufacturer</p>
            <p class="rightside">{{Data.manufacturer}}</p>
          </div>
        </div>

        <div>
          <div class="line"></div>
          <div class="specrow"> 
            <p class="leftside">Operation System</p>
            <p class="rightside">{{Data.operationSystem}}</p>
          </div>
        </div>

        <div>
          <div class="line"></div>
          <div class="specrow"> 
            <p class="leftside">Storage</p>
            <p class="rightside">{{Data.storage}}</p>
          </div>
        </div>

        <div>
          <div class="line"></div>
          <div class="specrow"> 
            <p class="leftside"></p>
            <p class="rightside"></p>
          </div>
        </div>

        <div>
          <div class="line"></div>
          <div class="specrow"> 
            <p class="leftside">resolotion</p>
            <p class="rightside">1920x1080</p>
          </div>
        </div>
        
        <div>
          <div class="line"></div>
          <div class="specrow"> 
            <p class="leftside">resolotion</p>
            <p class="rightside">1920x1080</p>
          </div>
        </div>

        
     
      </div>
      
    </div>
    <div>   
      <div class="container">
        <h2>{{Data.name}}</h2>
        <div class="line"></div>
        <p>Manufacturer : {{Data.manufacturer}}</p>
        <p>Color : {{Data.color}}</p>
        <p>{{Data.description}}</p>
        <div class="line"></div>
        
      </div>
      <h3>Price : {{Data.price}}$</h3>
      <button (click)="AddToCart(Data)">Add To Cart<span  class="material-symbols-outlined">
        add_shopping_cart
      </span></button>
    </div>
  </div>
  
  <h2 class="Head">Products Like:</h2>
  <div class="pack">

    <div class="Lineofproducts">
      <div class="page-inner" *ngFor="let item of list ; let i = index ;"   >
        <div class="row" *ngIf="i < 6" >
          <div class="el-wrapper">
            <div class="box-up">
              <img class="img" src="{{ item.imgUrl }}" alt="" />
              <div class="img-info">
                <div class="info-inner">
                  <span class="p-name">{{ item.name }}</span>
                </div>
              </div>
            </div>
            
            <div class="box-down">
              <div class="h-bg">
                <div class="h-bg-inner"></div>
              </div>
              
              <a class="cart" (click)="AddToCart(item)">
                <span class="price">${{ item.price }}</span>
                <span class="add-to-cart">
                  <span class="txt">Add in cart</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
</div>