
<div class="Main">
  <div class="product">
      <div class="Width">
      <img src="https://tms.co.il/image/cache/catalog/products/GZ590AORUSXTWB/gJla7avC1j-1000x1000.png"/>
      <div class="specs">
        <h2>Item Specifics :</h2>

        <div>
          <div class="specrow"> 
            <p class="leftside">resolotion</p>
            <p class="rightside">1920x1080</p>
          </div>
        </div>

        <div>
          <div class="line"></div>
          <div class="specrow"> 
            <p class="leftside">resolotion</p>
            <p class="rightside">1920x1080</p>
          </div>
        </div>

        <div>
          <div class="line"></div>
          <div class="specrow"> 
            <p class="leftside">resolotion</p>
            <p class="rightside">1920x1080</p>
          </div>
        </div>

        <div>
          <div class="line"></div>
          <div class="specrow"> 
            <p class="leftside">resolotion</p>
            <p class="rightside">1920x1080</p>
          </div>
        </div>

        <div>
          <div class="line"></div>
          <div class="specrow"> 
            <p class="leftside">resolotion</p>
            <p class="rightside">1920x1080</p>
          </div>
        </div>
        
        <div>
          <div class="line"></div>
          <div class="specrow"> 
            <p class="leftside">resolotion</p>
            <p class="rightside">1920x1080</p>
          </div>
        </div>

        
     
      </div>
      
    </div>
    <div>   
      <div class="container">
        <h2>Z690 Motherboard</h2>
        <div class="line"></div>
        <p>Manufacturer : Gigabyte</p>
        <p>Color : White</p>
        <p>Intel® Z590 AORUS Motherboard with 20+1 Phases Digital VRM, NanoCarbon Baseplate, Intel® Thunderbolt 4, ESSential USB DAC, AORUS PRO Gen4 AIC Adaptor, Intel® WiFi 6E 802.11ax, AQUANTIA® 10GbE LAN Supports 11th and 10th Gen Intel® Core™ Series Processors Dual Channel Non-ECC Unbuffered DDR4, 4 DIMMs 20+1 Phases Digital VRM Solution with 100A Smart Power Stage and Tantalum Polymer Capacitors Array XTREME MEMORY with SMT DIMM and Shielded Memory Routing Thermal Reactive Armor with All in One Monoblock and NanoCarbon Baseplate Intel® </p>
        <div class="line"></div>
        
      </div>
      <h3>Price : 421$</h3>
      <button>Add To Cart<span  class="material-symbols-outlined">
        add_shopping_cart
      </span></button>
    </div>
  </div>
  
  
  
</div>