
.main{width: 80vw;}

.HeadLines h1{
  text-align: center;

}

.Products{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  padding: 30px;


}

@media (min-width: 1090px) {
  .Products { 
    grid-template-columns: repeat(2, 1fr); 
    
    }
  
}

@media (min-width: 1400px) {
  .Products { grid-template-columns: repeat(3, 1fr); 
    
  }

  
}
@media (min-width: 1750px) {
  .Products { grid-template-columns: repeat(4, 1fr); 
  
  }

  
}

@media (max-width: 450px) {
  .Products { grid-template-columns: repeat(1, 1fr); 
  }


}



.MainFilter{
    margin: 15px auto auto auto;
    width: 50%;
    border: 1px solid rgb(165, 165, 165);
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    height: 30px;
}

*{
    font-family: 'Poppins', sans-serif;
  }
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
    
  }
  
  .container{
    position: relative;
    z-index: 1;
  }
