<h1>Gaming Console</h1>
          <h4>Console Type</h4>
          <select>
            <option value="">Play Station 4</option>
            <option value="">Play Station 5</option>
            <option value="">Xbox Series S</option>
            <option value="">Xbox Series X</option>
            <option value="">Xbox Series</option>
            <option value="">Switch Lite</option>
            <option value="">Switch Pro</option>
          </select>
          <br />
          <br />
          <h4>Storage</h4>
          <select>
            <option value="">4 gb</option>
            <option value="">8 gb</option>
            <option value="">16 gb</option>
            <option value="">32 gb</option>
            <option value="">64 gb</option>
            <option value="">128 gb</option>
            <option value="">256 gb</option>
            <option value="">512 gb</option>
            <option value="">1 tb</option>
            <option value="">2 tb</option>
            <option value="">4 tb</option>
          </select>